.outerContainer {
  padding-left: 2%;
  padding-right: 4%;
  padding-top: 10px;
  margin-bottom: 5%;
}

.cornerContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 30px;
}

.personIcon {
  font-size: 24px;
  margin-right: 10px;
  color: #333;
}

.title {
  color: #5c5470;
  font-size: 34px;
  font-weight: bold;
}

.instructionText {
  color: #352f44;
  font-style: italic;

  font-size: 20px;
  margin-bottom: 30px;
}

.jobText {
  margin-left: 3%;
  margin-bottom: 0;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  color: #352f44;
}

.normalText {
  margin-left: 3%;
  width: 80%;
  font-size: 18px;
}

.innerTitle {
  color: #5c5470;
  font-size: 22px;
  font-weight: bold;
}

.summaryContainer {
  margin-bottom: 5px;
}

.summaryButton {
  padding: 10px;
  margin-left: 3%;
  width: 80%;
  border-radius: 6px;
  border-color: #352f44;
  background-color: #eeecf3;
}

.clickedSummaryButton {
  padding: 10px;
  margin-left: 3%;
  width: 80%;
  border-radius: 6px;
  border-width: 5px;
  border-color: #352f44;
  background-color: #c6c0d6;
}

.summaryButtonText {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.refreshContainer {
  display: flex;
  justify-content: center;
}

.refreshButton {
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 8px;
  width: 15%;
  height: 10%;
  background-color: #dbd8e3;
  display: grid;
  place-items: center;
}

.refreshText {
  font-size: 14px;
  font-weight: bold;
  color: #352f44;
}

.modalOuter {
  margin-left: 5%;
  margin-bottom: 5%;
}

.modalContainer {
  display: inline;
}

.confirmButton {
  border-radius: 4px;
  border-color: #dbd8e3;
  background-color: #dbd8e3;
  display: inline-block;
  margin-left: 10px;
  width: 20%;
}

.confirmText {
  font-size: 14px;
  color: #352f44;
  font-weight: bold;
}

.inputUser {
  border-color: #352f44;
  border-radius: 4px;
  height: 40px;
  width: 50%;
}